<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hxqydyl.app.ys">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission-sdk-23 android:name="android.permission.READ_CONTACTS" />

    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name=".common.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">
        <meta-data
            android:name="host_ip"
            android:value="${HOST}" />
        <meta-data
            android:name="is_test"
            android:value="${IS_TEST}" />

        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--
               <meta-data
               android:name="com.google.android.gms.version"
               android:value="@integer/google_play_services_version" />
        -->

        <activity
            android:name=".activity.CommentWebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.reading.VitamioPlayerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.register.RegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.register.RegisterOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.register.GoodChoiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.register.EvpiPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.register.EvpiAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.register.EvpiUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BaseTitleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.reading.ReadingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.patient.PatientInfoActivity" />
        <activity
            android:name=".activity.follow.MassActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity android:name=".activity.follow.ChoiceScaleActivity" />
        <activity android:name=".activity.follow.ChoiceSelfActivity" />
        <activity android:name=".activity.follow.FollowMainActivity" />
        <activity android:name=".activity.follow.FollowApplyActivity" />
        <activity android:name=".activity.follow.FollowTaskActivity" />
        <activity android:name=".activity.follow.FollowApplyDetailActivity" />
        <activity android:name=".activity.follow.FollowApplyOkActivity" />
        <activity android:name=".activity.follow.PlanMgrActivity" />
        <activity android:name=".activity.patient_group.PatientGroupManageActivity" />
        <activity
            android:name=".activity.patient.PatientAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.patient.PatientAdviceEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.patient.AddressBookSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.patient.PatientDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.patient.PatientAdviceInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.follow.PlanPatientListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.follow.PlanInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.follow.PlanEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.case_report.InPatientCaseReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.case_report.OutPatientCaseReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.case_report.AddCaseReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.case_report.FollowUpFormActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.case_report.IllnessChangeRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.case_report.IllnessChangeDetalsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.patient_group.PatientGroupSelectActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.follow.PatientSelectActivity" />
        <activity
            android:name="galleryfinal.wq.photo.MediaChoseActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_media_chose"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseThemeLib" />
        <activity
            android:name="galleryfinal.wq.photo.CropImageActivity"
            android:label="@string/title_activity_crop_image"
            android:screenOrientation="portrait" />
        <activity
            android:name="galleryfinal.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseThemeLib" />
        <activity
            android:name=".activity.BigPicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.register.SelectHosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.register.QualidicationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TranslateActivity"
            android:screenOrientation="portrait" />
        <!-- 极光推送 -->
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>

        <!-- Required SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <!-- Required SDK 核心功能 -->
        <!-- option since 2.0.5 可配置PushService，DaemonService,PushReceiver,AlarmReceiver的android:process参数 将JPush相关组件设置为一个独立进程 -->
        <!-- 如：android:process=":remote" -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required SDK 核心功能 since 1.8.0 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!-- Required 显示通知栏 -->
                <category android:name="${applicationId}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- User defined. 用户自定义的广播接收器 -->
        <receiver
            android:name=".push.PushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="${JPUSH_APPKEY}" />
        <!-- </>值来自开发者平台取得的AppKey -->
        <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL}" />
        <!-- QQ分享 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 新浪微博分享 -->
        <activity
            android:name=".activity.WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"></activity>

        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false"></service>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name=".servise.UnReadMsgService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>