<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hxqydyl.app.ys">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".common.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".activity.register.RegisterActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.ForgetPasswordActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.register.RegisterOrderActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.register.GoodChoiceActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.register.EvpiPhotoActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.register.EvpiAddressActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.register.EvpiUserActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.BaseTitleActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.reading.ReadingActivity" android:screenOrientation="portrait" ></activity>
    </application>

</manifest>
