body,div,p,input,select,a,textarea,ul,li,h1,h2,h3,h4,h5,h6,span,img{margin:0;padding:0; font-family:"微软雅黑";color:#b3b4b4;}
img{border:none;margin:0;padding:0;}
ul,li,dl,dt,dd{list-style:none;}
a{text-decoration:none;margin:0;padding:0;}
input{ vertical-align:central;}

.xieyi_wrap{width:83%;margin:0 auto;padding:25px 0;}
.xieyi_wrap h1{font-weight:normal;font-size:1.3em;color:#51c4d4;padding:10px 0;text-align:center;}
.xieyi_wrap h2{font-weight:normal;font-size:1em;color:#51c4d4;line-height:33px;padding:15px 0 0 0;}
.xieyi_wrap p{font-size:0.85em;color:#595757;line-height:26px; text-indent:2em;padding-bottom:5px;}